services:
  mongodb:
    image: mongo:latest
    container_name: dse-ict-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=dse_ict__master_database_admin_1234
      - MONGO_INITDB_DATABASE=dse-ict-master

volumes:
  mongo-data: